<section id="about" class="about-section">
  <div class="container about-ornament-wr">
    <div class="about-all-content">
      <div class="about-content">
        <h2 class="about-title">About Us</h2>
        <p class="about-text about-text-margin">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>

      <img
        class="about-img"
        srcset="
        ./img/about-us/girl-and-boy-mv.jpg     335w,
        ./img/about-us/girl-and-boy-mv-2x.jpg  670w,
        ./img/about-us/girl-and-boy-tbl.jpg     704w,
        ./img/about-us/girl-and-boy-tbl-2x.jpg 1408w,
        ./img/about-us/girl-and-boy1280.jpg     594w,
        ./img/about-us/girl-and-boy1280-2x.jpg 1188w
        "
        sizes="(min-width: 1280px) 594px, (min-width: 768px) 704px, (min-width: 320px) 335px"
        src="./img/about-us/girl-and-boy-mv.jpg"
        alt="foto Vyshyvanka"
      />
    </div>
  </div>
</section>
