<div class="modal visually-hidden">
  <div class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-inner">
      <button class="modal-button-close" type="button">
        <!-- <svg class="modal-button-close-icon" aria-label="icon-close">
                        <use href=""></use>
                    </svg> -->
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.8332 8.16666L8.1665 19.8333M8.1665 8.16666L19.8332 19.8333"
            stroke="#1B1B1B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="modal-content">
        <div class="modal-img">
          <img width="360" height="360" alt="Exercise" />
        </div>

        <div class="modal-info">
          <h4 class="modal-title">Air bake</h4>

          <ul class="modal-list">
            <li class="modal-list-item">
              <p class="modal-list-item-name">Target</p>
              <p class="modal-list-item-value">Abs</p>
            </li>
            <li class="modal-list-item">
              <p class="modal-list-item-name">Body Part</p>
              <p class="modal-list-item-value">Waist</p>
            </li>
            <li class="modal-list-item">
              <p class="modal-list-item-name">Equipment</p>
              <p class="modal-list-item-value">Body weight</p>
            </li>
            <li class="modal-list-item">
              <p class="modal-list-item-name">Popular</p>
              <p class="modal-list-item-value">150</p>
            </li>
            <li class="modal-list-item">
              <p class="modal-list-item-name">Burned calories</p>
              <p class="modal-list-item-value">323/3 min</p>
            </li>
          </ul>

          <p class="modal-description">
            This refers to your core muscles, which include the rectus
            abdominis, obliques, and transverse abdominis. They're essential for
            maintaining posture, stability, and generating force in many
            movements. Exercises that target the abs include crunches, leg
            raises, and planks.
          </p>

          <div class="modal-buttons">
            <button class="modal-button-favorites" type="button">
              Add to favorites
              <svg
                class="modal-button-favorites-icon"
                width="20"
                height="20"
                aria-label="heart-icon"
              >
                <use href=""></use>
              </svg>
            </button>

            <button class="modal-button-rating">Give a rating</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
