<div class="backdrop modal">
  <div class="modal-wrapper">
    <div class="modal-inner">
      <button class="modal-button-close" type="button">
        <svg
          class="modal-button-close-icon"
          width="24"
          height="24"
          aria-label="icon-close"
        >
          <use
            class="modal-button-close-use"
            href="./img/sprite.svg#cross"
          ></use>
        </svg>
      </button>
      <div class="exs-container"></div>
      <!-- <div class="modal-buttons">
        <button class="modal-button-favorites" type="button">
          Add to favorites
          <svg
            class="modal-button-favorites-icon"
            width="20"
            height="20"
            aria-label="heart-icon"
          >
            <use href="./img/sprite.svg#heart"></use>
          </svg>
        </button>

        <button class="modal-button-rating">Give a rating</button>
      </div> -->
    </div>
  </div>
</div>
