<section class="section">
    <div class="favorites-card container">
        <h2 class="favorites-title">Favorites</h2>
        <div class="favorites-contanier-block">
            <ul class="favorites-list">

                <li class="favorites-list-item">
                    <div class="favorites-card-heder">
                        <div class="favorites-oval">
                            <span>WORKOUT</span>
                        </div>
                        <button class="favorites-icon-svg">
                            <svg width="16" height="16" fill="none">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="favorites-list-button" type="button">Start
                            <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="favorites-list-item">
                    <div class="favorites-card-heder">
                        <div class="favorites-oval">
                            <span>WORKOUT</span>
                        </div>
                        <button class="favorites-icon-svg">
                            <svg width="16" height="16" fill="none">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg></button>

                        <button class="favorites-list-button" type="button">Start
                            <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="favorites-list-item">
                    <div class="favorites-card-heder">
                        <div class="favorites-oval">
                            <span>WORKOUT</span>
                        </div>
                        <button class="favorites-icon-svg">
                            <svg width="16" height="16" fill="none">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="favorites-list-button" type="button">Start
                            <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="favorites-list-item">
                    <div class="favorites-card-heder">
                        <div class="favorites-oval">
                            <span>WORKOUT</span>
                        </div>
                        <button class="favorites-icon-svg">
                            <svg width="16" height="16" fill="none">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="favorites-list-button" type="button">Start
                            <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="favorites-list-item">
                    <div class="favorites-card-heder">
                        <div class="favorites-oval">
                            <span>WORKOUT</span>
                        </div>
                        <button class="favorites-icon-svg">
                            <svg width="16" height="16" fill="none">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="favorites-list-button" type="button">Start
                            <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="favorites-list-item">
                    <div class="favorites-oval">
                        <span>WORKOUT</span>
                    </div>
                    <button class="favorites-icon-svg">
                        <svg width="16" height="16" fill="none">
                            <use href="../img/sprite.svg#trash"></use>
                        </svg>
                    </button>
                    <button class="favorites-list-button" type="button">Start
                        <svg class="favorites-list-button-icon" width="14" height="14" stroke="#1B1B1B">
                            <use href="../img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="favorites-list-container">
                        <svg class="favorite-list-svg" width="24" height="24">
                            <use href="../img/sprite.svg#gum"></use>
                        </svg>
                        <h3 class="favorites-list-text">Air bike</h3>
                    </div>
                    <div class="favorites-card-text">
                        <ul class="favorites-card-text-list">
                            <li class="favorites-card-text-item">
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Burned calories:</h4>
                                    <p class="favorites-card-text-block">312/3 min</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Body part:</h4>
                                    <p class="favorites-card-text-block">Waist</p>
                                </div>
                                <div class="favorites-card-text-wrapper">
                                    <h4 class="favorites-card-text-title">Target:</h4>
                                    <p class="favorites-card-text-block">Abs</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="message-info container">
        <h2 class="favorites-title">Favorites</h2>
        <div class="message-info-block">
            <img class="message-info-svg" src="../img/dumbbell.png" alt="dumbbell" />
            <p class="message-info-text">
                It appears that you haven't added any
                exercises to your favorites yet. To get
                started, you can add exercises that
                you like to your favorites for easier
                access in the future.
            </p>
        </div>
    </div>
</section>