<section class="favorites-quote-section">
  <div class="container favorites-quote-wrapper">
    <div class="quote-wrapper">
      <svg class="quote-dude-icon" width="34" height="32">
        <use href="./img/sprite.svg#dude"></use>
      </svg>
      <svg class="quote-inverted-commas-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
      <div class="qote-text-wrapper">
        <h3 class="quote-title">Quote of the day</h3>
        <p class="quoote-text">
          A lot of times I find that people who are blessed with the most talent don't ever develop
          that attitude, and the ones who aren't blessed in that way are the most competitive and
          have the biggest heart.
        </p>
        <p class="quote-autor">Tom Brady</p>
      </div>
    </div>
    <div class="photo-daily-norm-wrapper">
      <div class="quote-photo-wrapper"></div>
      <div class="quote-daily-norm-wrapper">
        <div class="daily-norm-wrapper">
          <svg class="daily-norm-gym-icon" width="20" height="20">
            <use href="./img/sprite.svg#gym"></use>
          </svg>
          <p class="sport-time">110 min</p>
          <p class="daily-norm">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>
