<footer class="footer">
  <div class="container footer-wrapper">
    <nav class="footer-nav">
      <ul class="footer-menu-list">
        <li class="footer-list">
          <a class="menu-item" href="#about">about us</a>
        </li>
        <li class="footer-list">
          <a class="menu-item" href="#collection">our collection</a>
        </li>
        <li class="footer-list">
          <a class="menu-item" href="#order">customer order</a>
        </li>
        <li class="footer-list">
          <a class="menu-item" href="#testimonials">testimonials</a>
        </li>
      </ul>
    </nav>
    <p class="footer-title">
      A touch of <span class="footer-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
