<header class="page-header">
  <div class="header-main container">
    <nav class="header-nav">
      <a class="header-logo" href="#"
        ><img src="./img/logo.svg" alt="Logo" width="44" height="40"
      /></a>
      <ul class="header-nav-list">
        <li class="header-list-item">
          <a class="header-list-link" href="#about">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#collection">Our collection </a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#order">CUSTOMER ORDER</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#testimonials">TEstimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a class="address-phone" href="tel:380684439426">+380 (68) 443-94-26</a>
    </address>
    <ul class="social-list">
      <li class="social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-list-link"
          target="_blank"
        >
          <svg class="social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-list-link"
          target="_blank"
        >
          <svg class="social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-list-link"
          target="_blank"
        >
          <svg class="social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="btn-svg" width="44" height="40">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- =============== MODAL MENU ================== -->
  <!-- =============== MODAL MENU ================== -->

  <div class="menu-window js-menu-container" id="mobile-menu">
    <div class="menu-window-top">
      <address class="menu-address">
        <a class="menu-address-phone" href="tel:380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>

      <button class="menu-btn-close js-close-menu" type="button">
        <svg class="btn-close-img" width="36" height="36">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <ul class="menu-nav-list js-list">
      <li class="menu-list-item">
        <a class="menu-list-link" modal-link href="#about">About us</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" modal-link href="#collection"
          >Our collection
        </a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" modal-link href="#order">CUSTOMER ORDER</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" modal-link href="#testimonials"
          >TEstimonials</a
        >
      </li>
    </ul>
  </div>
</header>
