<header class="header-page">
  <div class="header-main container">
    <a class="header-logo" href="./index.html">energy.flow</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-list-item header-home">
          <a class="header-list-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-item header-favorites">
          <a class="header-list-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a
          href="https://www.facebook.com/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg class="header-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.instagram.com/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg class="header-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-social-list-link"
          target="_blank"
        >
          <svg class="header-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="header-burger" type="button">
      <svg width="32" height="16">
        <use href="../img/burger-menu.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
