<section class="hero-section">
  <div class="container">
    <div class="hero-photo-wrapper">
      <ul class="tags-list">
        <li class="tags-list-item">
          <p class="tags-item-text">#Sport</p>
        </li>
        <li class="tags-list-item">
          <p class="tags-item-text">#Healthy</p>
        </li>
        <li class="tags-list-item">
          <p class="tags-item-text">#Workout</p>
        </li>
        <li class="tags-list-item">
          <p class="tags-item-text">#Diet</p>
        </li>
      </ul>
    </div>
    <div class="hero-text-wrapper">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">
          Get <span class="hero-title-accent">Body</span> in shape, Stay healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
    </div>
  </div>
</section>
