<section class="hero">
  <div class="container hero-sun">
    <div class="hero-block">
      <div class="hero-block-title-and-button">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-link" href="#order">
          Order
          <svg
            class="hero-link-icon"
            width="26"
            height="10"
            aria-label="icon-arrow"
          >
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-block-image">
        <img
          class="hero-image"
          srcset="
            ./img/hero/girl-desktop.jpg    392w,
            ./img/hero/girl-desktop@2x.jpg 784w,
            ./img/hero/girl-tablet.jpg     413w,
            ./img/hero/girl-tablet@2x.jpg  826w,
            ./img/hero/girl-mobile.jpg     335w,
            ./img/hero/girl-mobile@2x.jpg  670w
          "
          sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
          src="./img/hero/girl-mobile.jpg"
          alt="Girl"
        />
      </div>
    </div>
    <img
      class="hero-img-ellipse"
      srcset="./img/hero/ellipse.png 139w, ./img/hero/ellipse@2x.png 278w"
      sizes="(min-width: 768px) 139px"
      src="./img/hero/ellipse.png"
      alt="Ellipse"
    />
    <div class="hero-group">
      <svg class="hero-group-icon" width="52" height="51" aria-label="icon-sun">
        <use href="./img/sprite.svg#icon-sun"></use>
      </svg>
      <p class="hero-group-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
