<section>
  <div class="container">
    <div class="image-info-container"></div>
    <div class="info-container">
      <div class="info-titel-icon">
        <div class="box-icon-gym">
          <svg class="icon-quote icon-gym" width="20" height="20">
            <use href="./img/sprite.svg#gym"></use>
          </svg>
        </div>
        <h2 class="info-title">110 min</h2>
      </div>
      <p class="info-titel-text">Daily norm of sports</p>
      <p class="info-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
