<div class="mobile-menu-wrapper">
  <div class="mobile-menu">
    <div class="mobile-menu-header">
      <a href="../" class="mobile-menu-logo">energy.flow</a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-btn-icon" width="20" height="20">
          <use href="./img/sprite.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-content">
      <button class="mobile-menu-btn-content-home">Home</button>
      <button class="mobile-menu-btn-content-favorites">Favorites</button>
    </div>
    <ul class="mobile-menu-social-icons">
      <li class="">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-menu-social-icon"
        >
          <svg class="mobile-menu-social-list-icon" width="40" height="40">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="">
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobile-menu-social-icon"
        >
          <svg class="mobile-menu-social-list-icon" width="40" height="40">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-menu-social-icon"
        >
          <svg class="mobile-menu-social-list-icon" width="40" height="40">
            <use href="../img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
