<section class="our-collection" id="collection">
  <div></div>
  <div class="container our-collection-container">
    <h2 class="our-collection-main-text">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/august-mobile.jpg     335w,
            ./img/our-collection/august-mobile@2x.jpg  670w,
            ./img/our-collection/august-tablet.jpg     342w,
            ./img/our-collection/august-tablet@2x.jpg  684w,
            ./img/our-collection/august-desktop.jpg    400w,
            ./img/our-collection/august-desktop@2x.jpg 800w
          "
          sizes=" (min-width: 375px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px
                        "
          src="./img/our-collection/august-mobile.jpg"
          alt="August Poltava"
          width="335"
        />
        <h3 class="our-collection-name-item">
          AUGUST Poltava women's blouseRING
        </h3>
        <p class="our-collection-price-item">3300 UAH</p>
      </li>
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/gorgany-mobile.jpg     335w,
            ./img/our-collection/gorgany-mobile@2x.jpg  670w,
            ./img/our-collection/gorgany-tablet.jpg     342w,
            ./img/our-collection/gorgany-tablet@2x.jpg  684w,
            ./img/our-collection/gorgany-desktop.jpg    400w,
            ./img/our-collection/gorgany-desktop@2x.jpg 800w
          "
          sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px"
          src="./img/our-collection/gorgany-mobile.jpg"
          alt="Blouse Gorgany"
          width="335"
        />
        <h3 class="our-collection-name-item">Women's blouse Gorgany</h3>
        <p class="our-collection-price-item">3350 UAH</p>
      </li>
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/crimea-mobile.jpg     335w,
            ./img/our-collection/crimea-mobile@2x.jpg  670w,
            ./img/our-collection/crimea-tablet.jpg     342w,
            ./img/our-collection/crimea-tablet@2x.jpg  684w,
            ./img/our-collection/crimea-desktop.jpg    400w,
            ./img/our-collection/crimea-desktop@2x.jpg 800w
          "
          sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px
                      "
          src="./img/our-collection/crimea-mobile.jpg"
          alt="Crimea"
          width="335"
        />

        <h3 class="our-collection-name-item">Women's blouse Crimea</h3>
        <p class="our-collection-price-item">4000 UAH</p>
      </li>
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/verkhovina-mobile.jpg     335w,
            ./img/our-collection/verkhovina-mobile@2x.jpg  670w,
            ./img/our-collection/verkhovina-tablet.jpg     342w,
            ./img/our-collection/verkhovina-tablet@2x.jpg  684w,
            ./img/our-collection/verkhovina-desktop.jpg    400w,
            ./img/our-collection/verkhovina-desktop@2x.jpg 800w
          "
          sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px
                      "
          src="./img/our-collection/verkhovina-mobile.jpg"
          alt="Verkhovina"
          width="335"
        />
        <h3 class="our-collection-name-item">Men's shirt Verkhovina</h3>
        <p class="our-collection-price-item">3100 UAH</p>
      </li>
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/mountain-mobile.jpg     335w,
            ./img/our-collection/mountain-mobile@2x.jpg  670w,
            ./img/our-collection/mountain-tablet.jpg     342w,
            ./img/our-collection/mountain-tablet@2x.jpg  684w,
            ./img/our-collection/mountain-desktop.jpg    400w,
            ./img/our-collection/mountain-desktop@2x.jpg 800w
          "
          sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px
                      "
          src="./img/our-collection/mountain-mobile.jpg"
          alt="Mountain"
          width="335"
        />
        <h3 class="our-collection-name-item">Mountain men's shirt</h3>
        <p class="our-collection-price-item">3300 UAH</p>
      </li>
      <li class="our-collection-item">
        <img
          class="our-collection-photo"
          srcset="
            ./img/our-collection/yasen-mobile.jpg     335w,
            ./img/our-collection/yasen-mobile@2x.jpg  670w,
            ./img/our-collection/yasen-tablet.jpg     342w,
            ./img/our-collection/yasen-tablet@2x.jpg  684w,
            ./img/our-collection/yasen-desktop.jpg    400w,
            ./img/our-collection/yasen-desktop@2x.jpg 800w
          "
          sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1280px) 400px
                      "
          src="./img/our-collection/yasen-mobile.jpg"
          alt="Yasen"
          width="335"
        />
        <h3 class="our-collection-name-item">Men's shirt Yasen</h3>
        <p class="our-collection-price-item">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
