<div class="policy-modal-overlay visually-hidden">
  <div class="policy">
    <div class="policy__header">
      <div class="policy__header-text">Privacy Policy</div>
      <div class="policy__content">
        <h4>Protection of Personal Data</h4>
        <p>
          Your personal information may only be disclosed by us in cases where
          it is necessary for: (a) compliance with legal requirements or court
          orders in relation to us; (b) the protection of our rights or
          property; (c) taking urgent measures to ensure the personal safety of
          our employees or service consumers provided by them, as well as
          ensuring public safety. Personal information obtained in our
          possession during registration may be transferred to third parties and
          individuals who are in partnership with us to improve the quality of
          services. This information will not be used for any other purpose than
          those mentioned above. The email address provided by you during
          registration may be used to send you messages or notifications about
          changes related to your application, as well as mailing notifications
          about events and changes happening in the company, important
          information about new products and services, etc. The option to
          unsubscribe from subscribing to these email notifications is provided.
        </p>
        <h4>Use of Cookies</h4>
        <p>
          When a user visits the website, a cookie is stored on their computer
          (if the user allows the acceptance of such files). If the user has
          previously visited this website, the cookie is read from the computer.
          One of the purposes of using cookies is associated with facilitating
          the collection of visit statistics. This information helps determine
          which information sent to customers may be of the greatest interest to
          them. Data collection is done in an aggregated form and is never
          associated with personal user information.
        </p>
        <p>
          Third parties, including Google, display advertisements for our
          company on Internet sites. Third parties, including Google, use
          cookies to display advertisements based on the previous visits of
          users to our websites and interests in web browsers. Users can
          prohibit Google from using cookies. To do this, you need to visit a
          special Google page at this address:
          http://www.google.com/privacy/ads/
        </p>
        <h4>Changes in the Privacy Policy Statement</h4>
        <p>
          The privacy policy statement is intended to be periodically updated.
          In this case, the date of the previous update, indicated at the
          beginning of the document, will change. Notices of changes in this
          statement will be posted prominently on our websites.
        </p>
        <p>
          Using our application, you agree to receive SMS notifications with
          advertising related to application updates, as well as promotional
          offers and news about upcoming events.
        </p>
        <h4>
          <span role="img" aria-label="Heart">❤️</span>
          Thank you for your interest in our system!
        </h4>
      </div>
    </div>
  </div>
</div>
