<section>
  <div class="container">
    <div class="quote-container">
      <div class="quote-titel-icon">
        <svg class="icon-quote icon-dude" width="32" height="32">
          <use href="./img/sprite.svg#dude"></use>
        </svg>
        <h2 class="quote-title">Quote of the day</h2>
      </div>
      <svg class="icon-quote icon-comma" width="48" height="48">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
      <p class="quote-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="quote-author">Tom Brady</p>
    </div>
    <div class="image-block-1-container"></div>
  </div>
</section>
