<div class="backdrop js-backdrop-modal">
  <div class="rating-modal-wrapper">
    <button class="rating-close js-rating-close" type="button">
      <svg class="rating-close-svg" width="28" height="28">
        <use href="./img/sprite.svg#cross"></use>
      </svg>
    </button>

    <form class="rating-form js-rating-form">
      <p class="rating-title">Rating</p>
      <div class="rating-stars-wrapper">
        <p class="rating-data js-rating-data">0.0</p>
        <div class="rating-stars-list js-stars-list">
          <div class="rating-star-svg js-rating-star" data-rate="5"></div>
          <div class="rating-star-svg js-rating-star" data-rate="4"></div>
          <div class="rating-star-svg js-rating-star" data-rate="3"></div>
          <div class="rating-star-svg js-rating-star" data-rate="2"></div>
          <div class="rating-star-svg js-rating-star" data-rate="1"></div>
        </div>
      </div>
      <label>
        <input
          class="rating-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </label>
      <label>
        <textarea
          class="rating-comment"
          name="comment"
          maxlength="10000"
          placeholder="Your comment"
          required
        ></textarea>
      </label>
      <button class="rating-submit js-raiting-submit">Send</button>
    </form>
  </div>
</div>
