<div class="backdrop js-backdrop-modal">
  <div class="rating-modal-wrapper">
    <button class="rating-close js-rating-close" type="button">
      <svg class="rating-close-svg" width="28" height="28">
        <use class="rating-close-use" href="./img/sprite.svg#cross"></use>
      </svg>
    </button>

    <form class="rating-form js-rating-form">
      <p class="rating-title">Rating</p>
      <div class="rating-stars-wrapper">
        <p class="rating-data js-rating-data">0.0</p>
        <div class="simple-rating">
          <div class="rating-stars-list js-stars-list">
            <input
              class="rating-stars-item"
              id="rating_5"
              type="radio"
              value="5"
              name="rating"
            />
            <label class="rating-label" for="rating_5" data-rate="5"></label>

            <input
              class="rating-stars-item"
              id="rating_4"
              type="radio"
              value="4"
              name="rating"
            />
            <label class="rating-label" for="rating_4" data-rate="4"></label>
            <input
              class="rating-stars-item"
              id="rating_3"
              type="radio"
              value="3"
              name="rating"
            />
            <label class="rating-label" for="rating_3" data-rate="3"></label>
            <input
              class="rating-stars-item"
              id="rating_2"
              type="radio"
              value="2"
              name="rating"
            />
            <label class="rating-label" for="rating_2" data-rate="2"></label>
            <input
              class="rating-stars-item"
              id="rating_1"
              type="radio"
              value="1"
              name="rating"
            />
            <label class="rating-label" for="rating_1" data-rate="1"></label>
          </div>
        </div>
      </div>
      <label>
        <input
          class="rating-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </label>
      <label>
        <textarea
          class="rating-comment"
          name="comment"
          maxlength="10000"
          placeholder="Your comment"
          required
        ></textarea>
      </label>
      <button class="rating-submit js-raiting-submit">Send</button>
    </form>
  </div>
</div>
