<div class="backdrop">
  <div class="rating-modal-wrapper">
    <button class="rating-close js-rating-close" type="button">
      <svg class="rating-close-svg" width="28" height="28">
        <use href="./img/sprite.svg#cross"></use>
      </svg>
    </button>
    <p class="rating-title">Rating</p>
    <div class="rating-stars-wrapper">
      <p class="rating-data">0.0</p>
      <div>
        <svg class="rating-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#star"></use>
        </svg>
        <svg class="rating-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#star"></use>
        </svg>
        <svg class="rating-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#star"></use>
        </svg>
        <svg class="rating-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#star"></use>
        </svg>
        <svg class="rating-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#star"></use>
        </svg>
      </div>
    </div>
    <form class="rating-form">
      <label>
        <input
          class="rating-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </label>
      <label>
        <textarea
          class="rating-comment"
          name="comment"
          maxlength="10000"
          placeholder="Your comment"
        ></textarea>
      </label>
      <button class="rating-submit js-raiting-submit">Send</button>
    </form>
  </div>
</div>
