<div class="modal-overlay">
  <div class="policy">
    <div class="policy__header">
      <div class="policy__header-text">Terms of Servise</div>
    </div>
    <div class="policy__content">
      <p>
        Welcome to our website/application for sports exercises! Before you start using our
        resource, please carefully read our Terms of Service.
      </p>
      <h4>Search and Categories:</h4>
      <p>
        Our service allows you to search for exercises by categories or keywords. The convenient
        filter enables you to quickly find the exercises you need.
      </p>
      <h4>Favorite Exercises List:</h4>
      <p>
        You can create your own list of favorite exercises for easy access. Add your favorite
        exercises and plan your workouts according to your schedule.
      </p>
      <h4>Newsletter Subscription:</h4>
      <p>
        Subscribe to our newsletter and receive updates on new exercises, helpful tips, and workout
        plans. Stay informed about all the latest events!
      </p>
      <h4>Ratings and Comments:</h4>
      <p>
        Share your thoughts! Add ratings and comments to exercises so that other users can find the
        best workouts.
      </p>
      <h4>Motivational Quotes:</h4>
      <p>
        On our website, you will find a section with motivational quotes that will inspire you to
        achieve new heights in sports and life in general.
      </p>
      <h4>
        <span role="img" aria-label="Heart">❤️</span>
        Thank you for your interest in our system!
      </h4>
    </div>
  </div>
</div>
