<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonial-title-main">Testimonials</h2>
    <ul class="testimonial-list">
      <li class="testimonials-box-image">
        <div class="testimonials-box">
          <div class="testimonial-image-wrap">
            <img
              class="testimonial-image"
              srcset="
                ./img/testimonials/tkachuk.webp   1x,
                ./img/testimonials/tkachuk2x.webp 2x
              "
              src="./img/testimonials/tkachuk.webp"
              alt="maria-tkachuk-photo"
              width="64"
              height="64"
            />
          </div>
          <h3 class="testimonial-title">Maria Tkachuk</h3>
          <p class="testimonial-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-box-image not-visible">
        <div class="testimonials-box">
          <div class="testimonial-image-wrap">
            <img
              class="testimonial-image"
              srcset="
                ./img/testimonials/rybachok.webp   1x,
                ./img/testimonials/rybachok2x.webp 2x
              "
              src="./img/testimonials/rybachok.webp"
              alt="sergey-rybachok-photo"
              width="64"
              height="64"
            />
          </div>
          <h3 class="testimonial-title">Sergey Rybachok</h3>
          <p class="testimonial-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonials-box-image not-visible">
        <div class="testimonials-box">
          <div class="testimonial-image-wrap">
            <img
              class="testimonial-image"
              srcset="
                ./img/testimonials/chatuk.webp   1x,
                ./img/testimonials/chatuk2x.webp 2x
              "
              src="./img/testimonials/chatuk.webp"
              alt="natalia-chatuk-photo"
              width="64"
              height="64"
            />
          </div>

          <h3 class="testimonial-title">Natalia Chatuk</h3>
          <p class="testimonial-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
