@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.hidden {
  display: none;
}

/* ==================================== Стилі для РОБОЧОГО контейнера ========================================= */

.exersizes-container {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark-white);
  border-radius: 30px;
}

.exersizes-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.category {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: rgba(27, 27, 27, 0.5);
}

.exersizes-header-filter-cont {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  /* padding-bottom: 40px; */
}

.exersizes-input-container {
  position: relative;
  width: fit-content;
}
.exersizes-input {
  width: 295px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 54px;
  border-radius: 30px;
  background-color: var(--secondary-color);
}

.exersizes-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-color);
}
.exersizes-input-btn-container {
  position: absolute;
  display: flex;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}
.exersizes-input-btn {
  width: fit-content;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  fill: transparent;
  stroke: var(--primary-color);
}

.exersizes-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 6px;
}

.exersizes-list-item {
  width: fit-content;
  border-radius: 30px;
}

.exersizes-menu-btn {
  font-size: 14px;
  line-height: 1.28;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 30px;
  border: none;
}

/* ==================================== Стиль активної кнопки ================================ */

.exersizes-menu-btn-active {
  background-color: #7e847f;
  color: var(--secondary-color);
}

/* ==================================== Контейнери карток та повідомлення ========================================= */

.exersizes-message-container {
  padding-top: 164px;
  height: 760px;
}

.exersizes-result-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-top: 40px;
}

.exersizes-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-top: 40px;
}
/* ==================================== Стилі картки першої сторінки ============================== */

.exersizes-card-bytype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  width: 295px;
  height: 232px;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);

  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 100%
    ),
    url(./img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.exersizes-card-bytype-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--secondary-color);
}

.exersizes-card-bytype-text {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(246, 246, 246, 0.4);
}

/* =========================================== Пагінація ==================================== */

.exersizes-paginftion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  column-gap: 20px;
}

.exersizes-pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.6;
  width: 31px;
  height: 31px;
  letter-spacing: 0.04em;
  background-color: var(--dark-white);
  color: rgba(27, 27, 27, 0.4);
  border: none;
  border-radius: 18px;
  padding: 0;

  position: relative;
}

.exersizes-paginftion-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exersizes-paginftion-item-active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
  border-radius: 18px;
}

.exersizes-paginftion-item-active > .exersizes-pagination-btn {
  color: var(--primary-color);
}

/* =========================================== Друга частина ================================== */

/* =========================================== Картка ================================== */

.exersizes-card {
  width: 295px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  background-color: var(--white);
}

.exersizes-card-header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exersizes-card-workout-cont {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}

.exersizes-card-workout-header-title {
  max-width: 76px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--grey);
  color: var(--secondary-color);
  border-radius: 15px;
}

.exersizes-card-workout-rate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
}
.exersizes-card-workout-rate {
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-color);
}
.exersizes-card-rate-icon {
  fill: var(--yellow);
}

.exersizes-card-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  column-gap: 8px;
  padding: 0;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.28;
  text-transform: capitalize;
  border: none;
}

.exersizes-card-btn-icon {
  stroke: var(--primary-color);
}

.exersizes-card-workout-title-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-top: 25px;
}

.exersizes-card-title-h {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: capitalize;
}

.exersizes-card-info-list {
  display: flex;
  row-gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  flex-wrap: wrap;
}

.exersizes-card-info-item {
  display: block;
}

.exersizes-card-info-descr {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(27, 27, 27, 0.4);
  white-space: nowrap;
}

.exersizes-card-info-data {
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-color);
  white-space: nowrap;
}

/* ======================================= Повідомлення про відсутність результату пошуку =============== */

.noresult-message {
  max-width: 295px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color);
}

.span-strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.01em;
  font-style: normal;
  color: var(--grey);
}

/* ======================================= Адаптація під планшет ========================================= */

@media screen and (min-width: 768px) {
  /* ==================================== Загальні контейнери карток та повідомлення ========================================= */

  .exersizes-header-filter-cont {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 32px;
  }

  .exersizes-message-container {
    padding-top: 222px;
    height: 1091px;
  }

  .exersizes-result-card-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
    padding-top: 55px;
  }

  .exersizes-cards-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 14px;
    padding-top: 32px;
  }

  /* ================================================================================================================ */

  .exersizes-input-container {
    margin-top: 0;
  }
  .exersizes-input {
    width: 246px;
    height: 48px;
  }

  .exersizes-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .exersizes-container {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 50px;
  }

  .exersizes-header {
    font-size: 44px;
    line-height: 1.09;
  }

  .category {
    font-size: 24px;
    line-height: 1.33;
  }

  /* ========================================== Фільтр ============================================== */

  .exersizes-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
  }

  .exersizes-list-item {
    width: fit-content;
    border-radius: 30px;
  }

  .exersizes-menu-btn {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ======================================= Картки ========================================= */

  /* ==================================== Стилі картки першої сторінки ============================== */

  .exersizes-card-bytype {
    width: 313px;
    height: 250px;
  }

  .exersizes-card-bytype-header {
    font-size: 24px;
  }

  /* ============================================ Пагінація =========================== */

  .exersizes-paginftion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }

  .exersizes-pagination-btn {
    font-size: 24px;
    line-height: 1.33;
    width: 32px;
    height: 32px;
    letter-spacing: 0.04em;
  }

  .exersizes-paginftion-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ======================================= Картки другої частини ======================================== */

  .exersizes-card {
    width: 313px;
    padding-left: 17px;
  }

  .exersizes-card-title-h {
    font-size: 24px;
    line-height: 1.33;
  }

  .exersizes-card-btn-icon {
    width: 16px;
    height: 16px;
  }

  .exersizes-card-info-list {
    padding-top: 8px;
  }

  /* ======================================= Повідомлення про відсутність результату пошуку =============== */

  .noresult-message {
    max-width: 536px;
    font-size: 18px;
    line-height: 1.33;
  }

  .span-strong {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }
}
/* ======================================= Адаптація під десктоп ========================================= */

@media screen and (min-width: 1440px) {
  .exersizes-message-container {
    padding-top: 217px;
    height: 827px;
  }

  .exersizes-result-card-container {
    row-gap: 28px;
    column-gap: 20px;
    padding-top: 32px;
  }

  .exersizes-cards-container {
    row-gap: 40px;
    column-gap: 20px;
    padding-top: 32px;
  }

  /* ======================================= Картки ========================================= */

  /* ======================================= Картки другої частини ======================================== */

  .exersizes-input {
    width: 273px;
  }

  .exersizes-card {
    width: 424px;
    padding-left: 17px;
  }

  .exersizes-card-title-h {
    font-size: 24px;
    line-height: 1.33;
  }

  .exersizes-card-info-list {
    column-gap: 16px;
    row-gap: 16px;
    justify-content: flex-start;
  }

  .noresult-message {
    max-width: 684px;
  }
}
