/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ======================= Effects first ============================== */

.first-filter {
  position: relative;
  border-radius: 12px;
  transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.exersizes-card-bytype:hover,
.exersizes-card-bytype:focus {
  scale: 1.03;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25),
    0px 4px 10px rgba(0, 0, 0, 0.25);
}

.exersizes-card-bytype {
  transition: scale 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, 265%); */
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}
.exersizes-header {
  position: relative;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* ======================== Effects second ==================== */
.second-filter {
  position: relative;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.second-filter:hover,
.second-filter:focus {
  scale: 1.05;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.exersizes-menu-btn {
  transition: box-shadow 0.3s ease-in-out;
}
.exercise-name {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: rgba(27, 27, 27, 0.5);
}

.exersizes-menu-btn:hover,
.exersizes-menu-btn:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.exersizes-input {
  transition: box-shadow 0.3s ease-in-out;
}

.exersizes-input:hover,
.exersizes-input:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.exersizes-card-btn {
  transition: scale 0.3s ease-in-out;
}

.exersizes-card-btn:hover,
.exersizes-card-btn:focus {
  scale: 1.05;
}
.exersizes-input-btn-s {
  transition: scale 0.3s ease-in-out;
}
.exersizes-input-btn-s:hover,
.exersizes-input-btn-s:focus {
  scale: 1.1;
}

/* ======================================================== */

.exersizes-cards-container + .first-filter:hover {
  background-color: #eea10c;
}

/* ======================== UP button =========================== */
html {
  scroll-behavior: smooth;
}

.container {
  width: 375px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.up-link {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 16px;
  bottom: 16px;
  width: fit-content;
  border-radius: 50%;
  opacity: 0.6;
  background-color: var(--grey);
  box-shadow: 1px 2px 10px 2px var(--dark-grey);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    scale 0.2s ease-in-out;
}
.up-link.show {
  display: block;
}
.up-link:hover {
  scale: 1.15;
  opacity: 1;
}
.up-link:active {
  background-color: var(--dark-grey);
}
.up-svg {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0 auto;
  fill: #fafafa;
  opacity: 0.85;
  transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.up-svg:hover {
  opacity: 1;
  scale: 1.15;
}

/* ==================================== Стилі для РОБОЧОГО контейнера ========================================= */

.exersizes-container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark-white);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  min-height: 760px;
}

.exersizes-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.exersizes-header-filter-cont {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.exersizes-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.exersizes-list-item {
  width: fit-content;
  border-radius: 30px;
}
.exersizes-menu-btn {
  font-size: 14px;
  line-height: 1.28;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 30px;
  border: none;
  white-space: nowrap;
}

.exersizes-menu-btn-active {
  background-color: #7e847f;
  color: var(--secondary-color);
}

.exersizes-input-container {
  position: relative;
  width: fit-content;
}
.exersizes-input {
  max-width: 295px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 54px;
  border-radius: 30px;
  background-color: var(--secondary-color);
}

.exersizes-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-color);
}

.exersizes-input-btn-container {
  position: absolute;
  display: flex;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  column-gap: 5px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.exersizes-input-btn {
  width: fit-content;
  position: absolute;
  right: 20px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  fill: transparent;
  stroke: var(--primary-color);
}
.exersizes-input-icon {
  position: relative;
  z-index: -1;
}
.exersizes-input-btn-s {
  width: fit-content;
  position: absolute;
  height: 45px;
  width: 18px;
  right: -4px;
  transform: translateY(6%);
  border: none;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: transparent;
  fill: transparent;
  stroke: var(--primary-color);
}

.exersizes-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-top: 40px;
}

.exersizes-card-bytype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  width: 295px;
  height: 232px;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);

  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7) 0%,
    rgba(16, 16, 16, 0.7) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.exersizes-card-bytype-header {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-color);
}

.exersizes-card-bytype-text {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(246, 246, 246, 0.4);
}

.exersizes-result-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-top: 40px;
}
.exersizes-message-container {
  padding-top: 164px;
  height: 760px;
}

.noresult-message {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color);
}

.span-strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.01em;
  font-style: normal;
  color: var(--grey);
}

.exersizes-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  column-gap: 20px;
  row-gap: 10px;
}

.exersizes-pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.6;
  width: 31px;
  height: 31px;
  letter-spacing: 0.04em;
  background-color: var(--dark-white);
  color: rgba(27, 27, 27, 0.4);
  border: none;
  border-radius: 18px;
  padding: 0;
}

.exersizes-pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.exersizes-pagination-item-active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
  border-radius: 18px;
}

.exersizes-pagination-item-active > .exersizes-pagination-btn {
  color: var(--primary-color);
}

.exersizes-card {
  width: 295px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  background-color: var(--white);
}

.exersizes-card-header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exersizes-card-workout-cont {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}

.exersizes-card-workout-header-title {
  max-width: 76px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--grey);
  color: var(--secondary-color);
  border-radius: 15px;
}

.exersizes-card-workout-rate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
}
.exersizes-card-workout-rate {
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-color);
}
.exersizes-card-rate-icon {
  fill: var(--yellow);
}

.exersizes-card-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  column-gap: 8px;
  padding: 0;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.28;
  text-transform: capitalize;
  border: none;
}

.exersizes-card-btn-icon {
  stroke: var(--primary-color);
}

.exersizes-card-workout-title-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-top: 25px;
}

.exersizes-card-title-h {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: capitalize;
}

.exersizes-card-info-list {
  display: flex;
  row-gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  flex-wrap: wrap;
}

.exersizes-card-info-item {
  display: block;
}

.exersizes-card-info-descr {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(27, 27, 27, 0.4);
  white-space: nowrap;
}

.exersizes-card-info-data {
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-color);
  white-space: nowrap;
}
@media (min-width: 375px) {
  .container {
    width: 375px;
  }
  .exersizes-input {
    width: 295px;
  }

  .exersizes-list {
    column-gap: 6px;
  }
}

/* ======================================= Адаптація під планшет ========================================= */

@media screen and (min-width: 768px) {
  /* ==================================== Загальні контейнери карток та повідомлення ========================================= */

  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  /* ======================= */
  .exersizes-header-filter-cont {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 32px;
  }

  .exersizes-message-container {
    padding-top: 222px;
    height: 1091px;
  }

  .exersizes-result-card-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
    padding-top: 55px;
  }

  .exersizes-cards-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 14px;
    padding-top: 32px;
  }

  /* ================================================================================================================ */

  .exersizes-input-container {
    margin-top: 0;
  }
  .exersizes-input {
    width: 246px;
    height: 48px;
  }

  .exersizes-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .exersizes-container {
    padding-top: 64px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 64px;
    border-radius: 50px;
    min-height: 1091px;
  }

  .exersizes-header {
    font-size: 44px;
    line-height: 1.09;
  }

  .category {
    font-size: 24px;
    line-height: 1.33;
  }

  /* ========================================== Фільтр ============================================== */

  .exersizes-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
  }

  .exersizes-list-item {
    width: fit-content;
    border-radius: 30px;
  }

  .exersizes-menu-btn {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ======================================= Картки ========================================= */

  /* ==================================== Стилі картки першої сторінки ============================== */

  .exersizes-card-bytype {
    width: 313px;
    height: 250px;
  }

  .exersizes-card-bytype-header {
    font-size: 24px;
  }

  /* ============================================ Пагінація =========================== */

  .exersizes-pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }

  .exersizes-pagination-btn {
    font-size: 24px;
    line-height: 1.33;
    width: 32px;
    height: 32px;
    letter-spacing: 0.04em;
  }

  .exersizes-pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ======================================= Картки другої частини ======================================== */

  .exersizes-card {
    width: 313px;
    padding-left: 17px;
  }

  .exersizes-card-title-h {
    font-size: 24px;
    line-height: 1.33;
  }

  .exersizes-card-btn-icon {
    width: 16px;
    height: 16px;
  }

  .exersizes-card-info-list {
    padding-top: 8px;
  }

  /* ======================================= Повідомлення про відсутність результату пошуку =============== */

  .noresult-message {
    max-width: 536px;
    font-size: 18px;
    line-height: 1.33;
  }

  .span-strong {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }
}
/* ======================================= Адаптація під десктоп ========================================= */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .exersizes-message-container {
    padding-top: 217px;
    height: 827px;
  }

  .exersizes-result-card-container {
    row-gap: 28px;
    column-gap: 20px;
    padding-top: 32px;
    min-height: 715px;
  }

  .exersizes-cards-container {
    row-gap: 40px;
    column-gap: 20px;
    padding-top: 32px;
  }

  /* ======================================= Картки ========================================= */

  /* ======================================= Картки другої частини ======================================== */

  .exersizes-input {
    width: 273px;
  }

  .exersizes-card {
    width: 424px;
    padding-left: 17px;
  }

  .exersizes-card-title-h {
    font-size: 24px;
    line-height: 1.33;
  }

  .exersizes-card-info-list {
    row-gap: 16px;
    justify-content: space-between;
  }

  .noresult-message {
    max-width: 684px;
  }
  .up-link {
    width: 100px;
    height: 100px;
  }
  .up-svg {
    width: 80px;
    height: 80px;
  }
  .exersizes-container {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: var(--dark-white);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 827px;
  }
}
