.favorites-card {
  border-radius: 30px;
  background: #e8e8e8;
  flex-shrink: 0;
  width: 335px;
  padding-top: 40px;
}

.favorites-title {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  padding-top: 40px;
  margin-bottom: 20px;
}

.favorites-container-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.favorites-list-item {
  width: 295px;
  height: 165px;
  border-radius: 15px;
  background: #fff;
  padding: 16px;
}

.favorites-card-heder {
  display: inline-block;
}

.favorites-oval {
  display: flex;
  width: 76px;
  height: 26px;
  background-color: #7e847f;
  border-radius: 15px;
  align-items: center;
}

.favorites-oval span {
  color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.2em;
  padding: 5px 8px;
  margin: 0 auto;
}

.favorites-svg {
  width: 76px;
  height: 26px;
  border-radius: 15px;
}

.favorites-svg-text {
  fill: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
}

.favorites-icon-svg {
  display: inline-block;
  stroke: #1b1b1b;
  border: none;
  padding: 0;
  background: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin-left: 5px;
}

.favorites-icon-svg:hover,
.favorites-icon-svg:focus {
  transform: scale(0.95);
}
.favorites-list-button {
  display: flex;
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  border: none;
  padding: 0;
  background: none;
  margin-left: 109px;
}

.favorites-list-button:hover,
.favorites-list-button:focus {
  transform: scale(0.95);
}

.favorites-list-button-icon {
  display: inline-block;
  margin-left: 8px;
}

.favorites-list-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.favorite-list-svg {
  margin-right: 16px;
}

.favorites-list-text {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.favorites-card-text {
  margin-top: 18px;
}

.favorites-card-text-list {
  padding: 0;
}

.favorites-card-text-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
}

.favorites-card-text-wrapper {
  display: flex;
  gap: 4px;
}

.favorites-card-text-title {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 4px;
  margin: 0;
}

.favorites-card-text-block {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.message-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 28px;
  margin-bottom: 128px;
}

.message-info {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #e8e8e8;
  width: 335px;
}

.message-info-svg {
  width: 85px;
  height: 52px;
}

.message-info-text {
  width: 247px;
  height: 90px;
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
/*----------PAGINATOR MOBILE ---------*/
.favorites-pagination-block {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.favorites-pagination-block button {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
}
.favorites-pagination-block button.active-btn {
  color: #1b1b1b;
  border-color: #1b1b1b;
}
.active-btn {
  color: #1b1b1b;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #1b1b1b;
  transition: color 0.25s var(--transition-animation);
  border-color: 0.25s var(--transition-animation);
}

/* ------------TABLET----------------- */

@media (min-width: 768px) {
  .favorites-card {
    width: 736px;
    height: auto;
  }

  .favorites-contanier-block {
    display: flex;
    margin: 0;
  }
  .favorites-title {
    padding-top: 64px;
    margin-bottom: 0px;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    row-gap: 20px;
    margin-bottom: 64px;
  }

  .favorites-list-item {
    width: 313px;
  }

  .favorites-list-item:hover,
  .favorites-list-item:focus {
    transform: scale(0.95);
  }

  .message-info {
    width: 736px;
  }

  .message-info-block {
    margin-top: 208px;
    margin-bottom: 437px;
  }

  .message-info-svg {
    text-align: center;
    width: 115px;
    height: 71px;
  }

  .message-info-text {
    width: 554px;
    height: 72px;
    font-size: 18px;
    line-height: 1.33;
  }

  .favorites-pagination-block {
    display: none;
  }
}
/* ------------------DESKTOP----------------------- */
@media (min-width: 1440px) {
  .favorites-card {
    width: 1408px;
    display: flex;
    flex-direction: column;
  }

  .favorites-title {
    margin-bottom: 0px;
  }

  .favorites-contanier-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .favorites-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    row-gap: 28px;
  }

  .message-info {
    width: 1408px;
  }

  .message-info-block {
    margin-top: 146px;
    margin-bottom: 258px;
  }

  .favorites-list-item {
    width: calc((100% - 40px) / 3 - 20px);
    box-sizing: border-box;
    max-width: 424px;
    height: 141px;
  }

  .favorites-card-text {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .favorites-list-button {
    margin-left: 220px;
  }

  .favorites-icon-svg {
    margin-left: 10px;
  }
}
