.favorites-list-item {
  width: 295px;
  height: 165px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 15px;
}

.favorites-contanier-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.message-info-svg {
  width: 85px;
  height: 52px;
  margin-top: 80px;
}

.message-info-text {
  font-family: 'DM Sans';
  width: 247px;
  height: 90px;
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 28px;
  margin-bottom: 128px;
}

.favorites-card {
  margin: auto;
  border-radius: 30px;
  background: #e8e8e8;
  flex-shrink: 0;
  width: 335px;
  padding: 40px 20px;
}

.favorites-title {
  font-family: 'DM Sans';
  color: #1b1b1b;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.favorites-container-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.favorites-card-heder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.favorites-oval {
  display: flex;
  width: 76px;
  height: 26px;
  background-color: #7e847f;
  border-radius: 15px;
  align-items: center;
}

.favorites-oval span {
  color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.2em;
  padding: 5px 8px;
  margin: 0 auto;
}

.favorites-svg {
  width: 76px;
  height: 26px;
  border-radius: 15px;
}

.favorites-svg-text {
  fill: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
}

.favorites-icon-svg {
  display: inline-block;
  stroke: #1b1b1b;
  border: none;
  padding: 0;
  background: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin-left: 8px;
  transition: transform 300ms ease-in-out;
}

.favorites-icon-svg:hover,
.favorites-icon-svg:focus {
  transform: scale(1.09);
}
.favorites-list-button {
  display: flex;
  align-items: center;
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  border: none;
  padding: 0;
  background: none;
  transition: transform 300ms ease-in-out;
}

.favorites-list-button:hover,
.favorites-list-button:focus {
  transform: scale(1.07);
}

.favorites-list-button-icon {
  margin-left: 8px;
}

.favorites-list-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.favorite-list-svg {
  margin-right: 16px;
  background-color: var(--grey);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.favorites-list-text {
  font-family: 'DM Sans';
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.favorites-card-text {
  margin-top: 18px;
}

.favorites-card-text-list {
  padding: 0;
}

.favorites-card-text-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
}

.favorites-card-text-wrapper {
  display: flex;
  gap: 4px;
}

.favorites-card-text-title {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 4px;
  margin: 0;
}

.favorites-card-text-block {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.message-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 80px;
  gap: 28px;
  margin-bottom: 128px; */
}

.message-info {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #e8e8e8;
  width: 335px;
}

/*----------PAGINATOR MOBILE ---------*/
.favorites-pagination-block {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}
.favorites-pagination-block button {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
}
.favorites-pagination-block button.active-btn {
  color: #1b1b1b;
  border-color: #1b1b1b;
}
.active-btn {
  color: #1b1b1b;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #1b1b1b;
  transition: color 0.25s var(--transition-animation);
  border-color: 0.25s var(--transition-animation);
}

/* ------------TABLET----------------- */

@media (min-width: 768px) {
  .favorites-card {
    padding: 64px 16px 64px 48px;
    width: 736px;
    height: auto;
  }

  .favorites-card-text {
    margin-top: 8px;
  }

  .favorites-contanier-block {
    padding-right: 24px;
    display: flex;
    height: 720px;
  }

  .favorites-title {
    font-family: 'DM Sans';
    color: #1b1b1b;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 14px;
    row-gap: 20px;
  }

  /* ===== Scroll-Bar ===== */
  .favorites-contanier-block::-webkit-scrollbar {
    width: 8px;
  }
  .favorites-contanier-block::-webkit-scrollbar-track {
    background-color: rgba(27, 27, 27, 0.1);
  }
  .favorites-contanier-block::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 12px;
    height: 153px;
  }

  .favorites-list-item {
    min-width: 313px;
    width: calc((100% - 14px) / 2);
    /* box-sizing: border-box; */
    /* width: 424px; */
    padding: 16px;
    background-color: #ffffff;
    border-radius: 15px;
    transition: transform 300ms ease-in-out;
  }

  .favorites-list-item:hover,
  .favorites-list-item:focus {
    transform: scale(1.05);
  }

  .message-info {
    width: 736px;
  }

  .message-info-svg {
    margin-top: 208px;
    width: 115px;
    height: 71px;
  }

  .message-info-text {
    font-family: 'DM Sans';
    width: 554px;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 437px;
  }

  .favorites-list-text {
    font-family: 'DM Sans';
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
  }

  .message-info-block {
    margin-top: 208px;
    margin-bottom: 437px;
  }

  .favorites-pagination-block {
    display: none;
  }
  .pagination-favorites {
    display: none;
  }
}
/* ------------------DESKTOP----------------------- */
@media (min-width: 1440px) {
  .favorites-card {
    width: 1408px;
    display: flex;
    flex-direction: column;
  }

  .favorites-contanier-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .favorites-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 28px;
  }

  .favorites-list-item {
    min-width: 423px;
    width: calc((100% - 40px) / 3);
    height: 141px;
  }
  .message-info {
    width: 1408px;
  }

  .message-info-block {
    margin-top: 146px;
    margin-bottom: 258px;
  }

  .favorites-card-text {
    margin-top: 8px;
  }

  .message-info-svg {
    margin-top: 146px;
    text-align: center;
    width: 115px;
    height: 71px;
  }

  .message-info-text {
    width: 554px;
    height: 72px;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 258px;
  }

  /* .favorites-list-button {
    margin-left: 220px;
  } */
}

/* Delete button Z-index */
.favorites-icon-svg {
  position: relative;
  z-index: 0;
  background: transparent;
}

.favorites-icon-svg > svg {
  position: relative;
  z-index: -1;
}
.favorites-icon-svg > use {
  position: relative;
  z-index: -1;
}
/* Animation */
@keyframes opacity-animation {
  100% {
    opacity: 0;
  }
}
.favorites-list {
  position: relative;
}
.favorites-list-item {
  transition: transform 800ms ease-in-out;
}
