.our-collection-container {
  background-image: url(/img/our-collection/mobile-ornament1x.png);
  background-repeat: no-repeat;
  background-position: left top 298px;
  /* background-origin: content-box; */
}
.our-collection-main-text {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  text-align: center;
}
.our-collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}
.our-collection-item {
  width: 100%;
}
.our-collection-photo {
  width: 100%;
  height: 400px;
  border-radius: 4px;
}
.our-collection-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: none;
  margin-top: 18px;
}
.our-collection-name-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-top: 18px;
}
.our-collection-price-item {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-top: 8px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .our-collection-main-text {
    font-size: 44px;
    line-height: 1.45;
  }

  .our-collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-collection-item {
    width: calc((100% - 20px) / 2);
  }
  .our-collection-photo {
    height: 430px;
  }

  .our-collection-container {
    background-image: url(/img/our-collection/tablet-ornament1x.png);
    background-repeat: no-repeat;
    background-position: left top 221px;
  }
}

/*--DEKSTOP--*/

@media screen and (min-width: 1280px) {
  .our-collection-container {
    padding-top: 70px;
    background-image: url(/img/our-collection/desktop-ornament1x.png);
    background-repeat: no-repeat;
  }
  .our-collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
  }
  .our-collection-item {
    width: calc((100% - 40px) / 3);
  }
}
@media (min-resolution: 192dpi) and (min-width: 375px) {
  .our-collection-container {
    background-image: url(/img/our-collection/mobile-ornament2x.png);
    background-repeat: no-repeat;
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) {
  .our-collection-container {
    background-image: url(/img/our-collection/tablet-ornament2x.png);
    background-repeat: no-repeat;
    background-size: 114px;
  }
}
@media (min-resolution: 192dpi) and (min-width: 1280px) {
  .our-collection-container {
    background-image: url(/img/our-collection/desktop-ornament2x.png);
    background-repeat: no-repeat;
  }
}
