/* Mobile================================================================== */

.quote-container {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 50px;
  background: #7e847f;
  width: 704px;
  height: 302px;
  margin-bottom: 16px;
}

.quote-titel-icon {
  display: flex;
  padding-top: 64px;
  padding-left: 64px;
}

.quote-title {
  padding-left: 16px;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}

.icon-comma {
  position: absolute;
  top: 32px;
  right: 64px;
}

.quote-text {
  padding-top: 16px;
  padding-left: 114px;
  padding-right: 64px;
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.quote-author {
  padding-top: 16px;
  padding-left: 114px;
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.image-block-1-container {
  width: 704px;
  height: 302px;
  border-radius: 50px;
  background-image: url(../img/Block\ 1/d-q-ex-img/d-q-ex-img@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* block-3================================================================ */

.image-block-3-container {
  width: 704px;
  height: 302px;
  border-radius: 50px;
  background-image: url(../img/Block\ 3/d-min-img/d-min-img@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.block-3-container {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 50px;
  background: #1b1b1b;
  width: 704px;
  height: 302px;
  margin-bottom: 16px;
}
.icon-gym {
  fill: #fff;
}
.box-icon-gym {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(246, 246, 246, 0.1);
}

.block-3-title {
  padding-left: 18px;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}

.block-3-titel-icon {
  display: flex;
  align-items: center;
  padding-top: 65px;
  padding-left: 64px;
}

.block-3-titel-text {
  padding-left: 114px;
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.286;
}
.block-3-text {
  padding-top: 25px;
  padding-left: 114px;
  padding-right: 64px;
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
