@import url('./reset.css');
@import url('./exercises-modal.css');
@import url('./exercises.css');
@import url('./favorites.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./info.css');
@import url('./mobile-menu.css');
@import url('./quote.css');
@import url('./rating-modal.css');
/*@import url('../css/favorites-quote.css');*/

@font-face {
  font-family: 'DM Sans';
  font-weight: normal;
  font-style: normal;
  src: local('DM Sans'), url('../fonts/DMSans-Regular.ttf') format('truetype'),
    url('./fonts/DMSans-Italic.ttf') format('truetype'),
    url('./fonts/DMSans-Bold.ttf') format('truetype'),
    url('./fonts/DMSans-Medium.ttf') format('truetype'),
    url('./fonts/DMSans-Regular.woff') format('woff'),
    url('./fonts/DMSans-Italic.woff') format('woff'),
    url('./fonts/DMSans-Bold.woff') format('woff'),
    url('./fonts/DMSans-Medium.woff') format('woff'),
    url('./fonts/DMSans-Regular.woff2') format('woff2'),
    url('./fonts/DMSans-Italic.woff2') format('woff2'),
    url('./fonts/DMSans-Bold.woff2') format('woff2'),
    url('./fonts/DMSans-Medium.woff2') format('woff2');
}

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #f6f6f6;
  --yellow: #eea10c;
  --grey: #7e847f;
  --dark-grey: #5f6560;
  --dark-white: #e8e8e8;
  --white: #ffffff;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f6f6f6;
}

section {
  padding: 10px 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 375px) {
  .container {
    max-width: 335px;
  }
}
@media (min-width: 768px) {
  section {
    padding: 8px 0;
  }
  .container {
    padding: 0 16px;
    max-width: 736px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1408px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.6);
  z-index: 50;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
