.testimonial-title-main {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 64px;
}

.not-visible {
  display: none;
}

.testimonials-box {
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 0 18px 18px 18px;
  margin: 0 auto;
  max-width: 335px;
}

.testimonial-image-wrap {
  width: 100%;
  height: 34px;
  margin-bottom: 20px;
}

.testimonial-image {
  transform: translateY(-24px);
  margin: 0 auto;
}

.testimonial-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}

.testimonial-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .testimonial-list {
    display: flex;
    gap: 32px;
    justify-content: center;
  }

  .testimonials-box-image:nth-child(2) {
    display: block;
  }

  .testimonials-box-image {
    width: calc((100% - 32px) / 2);
  }
  .testimonials-box {
    margin: 0;
  }

  .testimonial-title-main {
    font-size: 44px;
    line-height: 1.45;
  }

  .testimonial-text {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .testimonial-list {
    gap: 26px;
  }
  .testimonials-box-image:nth-child(3) {
    display: block;
  }
  .testimonials-box-image {
    width: calc((100% - 52px) / 3);
  }
}
