.main-order-container {
  padding: 0;
}
.order-background-img {
  max-width: 375px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/your-order/order_back_img_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-bottom: 80px;
}

.order-shirt-foto {
  display: none;
}
.order-title {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.yellow-order-title {
  color: var(--yellow, #ecd979);
}
.order-form-input,
.order-form-comment {
  background-color: var(--primary-color, #1c2225);
  color: var(--white, #FCF9F9);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.order-form-input {
  margin-bottom: 20px;

}
.order-form-comment {
  margin-bottom: 40px;
  min-height: 196px;
  resize: none;
}
.order-form-button-inner-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.order-form-button {
  color: var(--white, #fcf9f9);
  background-color: var(--primary-color, #1c2225);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.035em;
  display: block;
  min-width: 145px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
}
.review-form-field-icon {
  fill: var(--yellow, #ecd979);
  transform: rotate(-30deg);
}
.order-form-input:focus, .order-form-comment:focus {
  border: 0.5px solid rgba(252, 249, 249, 0.60);
}
.order-form-button:focus {
  border: 1px solid var(--yellow, #ECD979);
}

/* ========== TABLET ========== */
@media screen and (min-width: 768px) {
  .order-container {
    background-image: url(/img/your-order/ornament-tablet.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 79px;
  }
  .order-background-img {
    max-width: 768px;
    height: 776px;
    background-image: url(/img/your-order/order_back_img_tablet.jpg);
    margin-bottom: 100px;
  }

  .order-shirt-foto {
    display: block;
    height: auto;
    padding-left: 98px;
  }
 .order-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
  }
 .main-order-container  .order-container {
    padding-bottom: 79px;
  }
  .order-title {
    width: 542px;
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: -0.03em;
  }
  .order-form-wrapper {
    width: 508px;
  }
  .order-form-button {
    margin-left: 0;
  }
  .order-form-input:hover, .order-form-comment:hover {
    border: 0.5px solid rgba(252, 249, 249, 0.60);
  }
  .order-form-button:hover {
    border: 1px solid var(--yellow, #ECD979);
  }

  /* ========== TABLET 2x ========== */
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  
   .order-container {
    background-image: url(/img/your-order/ornament-tablet2x.png);
    background-size: 323px;
    /* margin-bottom: 100px; */
  }
}
/* ========== DESKTOP ========== */
@media screen and (min-width: 1280px) {
  .main-order-container  .order-container {
    padding-bottom: 0;
  }
  .order-container {
    background-image: url(/img/your-order/ornament-desk.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding-bottom: 0;
  }
 
  .order-box {
    width: 542px;
  }
  .order-background-img {
    background-image: url(/img/your-order/order_back_img_desk.jpg);
    max-width: 1282px;
    height: 776px;
  }
  .order-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
  }
 
  .order-shirt-foto {
    max-width: 524px;
    height: 521px;
    padding-left: 0;
  }
}
/* ========== DESKTOP 2x ========== */
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .order-background-img {
    background-image: url(/img/your-order/order_back_img_desk@2x.jpg);
  }
  .order-container {
    padding: 0;
    background-image: url(/img/your-order/ornament-desk2x.png);
  }
}
/* ========== DESKTOP 1440 ========== */
/* @media screen and (min-width: 1440px) {
  .main-order-container {
    max-width: 1440px;
  }

  .order-background-img {
    max-width: 1440px;
    height: 776px;
    background-image: url(../img/your-order/order_back_img_desktop.jpg);
  }
  .order-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .order-title {
    width: 666px;
  }
} */
/* ========== DESKTOP 1440 2x ========== */
/* @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .order-background-img {
    background-image: url(../img/your-order/order_back_img_desktop@2x.jpg);
  }
} */
